@model TouristViewModel

@{
  ViewBag.Title = "Details";
}

<h5>Confirmation of McIntire Tour</h5>

<div>
  @ViewBag.Message
</div>

@Html.Partial("_TouristDetails", Model)

<p>
  If you need to cancel this cancel this tour, click the link below.
</p>
<p>
  @Html.ActionLink("Cancel Tour", "Cancel", new { id = Model.Id })
</p>
