@{
  ViewBag.Title = "About";
}

<hgroup class="title">
  <h2>About Class Visits</h2>
</hgroup>

<article>
  <p>
    Take a Closer Look at McIntire
  </p>

  <p>
    Welcome to our Visitors Website. Whether you are currently a UVA student or a prospective student interested in UVA and business, a good way to learn more about the School and our curriculum is by participating in our Take a Seat Program (also called Class Visit Program) and taking a student-led tour of our facilities.  You can sign-up for one or both on this website.  
  </p>

  <p>
    We hope to see you soon!
  </p>
</article>
