@{
  ViewBag.Title = "Contact";
}

<hgroup class="title">
  <h2>Contact Us</h2>
</hgroup>

<section>
  <p>
    The class visit program is run by the Student Services Office at the McIntire School of Commerce.
    The main point of contact for the program is Jeannine Fields. You can reach her at the following:
  </p>
</section>

<section class="contact">
  <header>
    <h3>Phone</h3>
  </header>
  <p>
    <span>434.924.3485</span>
  </p>
</section>

<section class="contact">
  <header>
    <h3>Email</h3>
  </header>
  <p>
    <span><a href="mailto:ajf2u@comm.virginia.edu">ajf2u@comm.virginia.edu</a></span>
  </p>
</section>

<section class="contact">
  <header>
    <h3>Address</h3>
  </header>
  <p>
    Student Services Office
    Rouss & Robertson Halls, East Lawn<br />
    University of Virginia<br />
    PO Box 400173<br />
    Charlottesville, VA 22904<br />
  </p>
</section>
