@model HandleErrorInfo

@{
  ViewBag.Title = "Error";
}

<hgroup class="title">
  <h3 class="error">Well this is a little embarrassing, but some sort of error occurred while processing your request.</h3>
</hgroup>

<p>
  If you need assistance with your visit, you can <a href="mailto:ajf2u@comm.virginia.edu">email Jeannine Fields</a>, or call her directly at 434.924.3485.  
</p>

<p>
  @ViewBag.Message
</p>
